@model IEnumerable<HomeRenovtors.Models.ServiceDetail>

@{
    ViewBag.Title = "viewServices";
}

<h2>View List of Services</h2>

<p>Here is a List of all services provided by the Home Renovators team</p>
<img src="~/images/services.jpg" />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Charges)
        </th>
      
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Charges)
        </td>
    </tr>
}

</table>
